.dashboard-wrapper{    
    display: grid;
    place-items: center;
}

.img-drink{
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 20px;
}

td{
    vertical-align: middle;
}

tr{
    cursor: pointer;
}
label{font-weight: bold;}

.ingredients-list{
    list-style: none;
    padding: 0;
}
.ingredients-list li{
    width: fit-content;
    border: 1px solid #d5dbdb;
    border-radius: 4px;
    display: inline-flex;
    padding: 2px;
    margin-right: 5px;    
    margin-top: 5px
}
.ingredients-list button{
    border: none;
    background:none;
}
.ingredients-list svg{
    fill: #dd6b10;
    width: 15px;
}
.upload-image-wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.upload-image-wrapper>:nth-child(2){
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    height: 100%;
}
.upload-image__click-drog{
    text-align: center;
    color: black;
    font-weight: 500;
    border: dotted 1.5px black;
    padding: 10px;
    background-color: white;
    width: 100%;  
    display: grid;
    place-items: center;  
    order: 2;
}
.upload-image__click-drog:hover{
    background-color: #929ca6;
    cursor: pointer;
}
.image-item__btn-wrapper{
    position: absolute;
    position: absolute;
    top: 5px;
    left: 5px
}
.image-item__btn-wrapper button{    
    margin-right: 10px; 
    padding: 5px;       
    display: inline-block;
}
.image-item__btn-wrapper button svg{    
    width: 20px;
}
.image-item{
    position: relative;
}
.image-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media(width<=540px){
    .upload-image-wrapper{       
        grid-template-columns: repeat(3,1fr);        
    }
    .upload-image-wrapper>:nth-child(2){
        grid-column: 1/span 2;
        grid-row: 1/span 2;       
    }
}