.dashboard-wrapper {
    display: grid;
    place-items: center;
}

.img-drink {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

td {
    vertical-align: middle;
}



label {
    font-weight: bold;
}

.ingredients-list {
    list-style: none;
    padding: 0;
}

.ingredients-list li {
    width: fit-content;
    border: 1px solid #d5dbdb;
    border-radius: 4px;
    display: inline-flex;
    padding: 2px;
    margin-right: 5px;
    margin-top: 5px
}

.ingredients-list button {
    border: none;
    background: none;
}

.ingredients-list svg {
    fill: #dd6b10;
    width: 15px;
}

.upload-image-wrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.upload-image-wrapper>:nth-child(2) {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    height: 100%;
}

.upload-image-wrapper>:only-child {
    grid-column: 1/span 4;
    grid-row: 1/span 4;
}

.upload-image__click-drog {
    text-align: center;
    color: yellow;
    font-weight: bold;

    border: dashed 1px rgba(56, 49, 49, 0.993);
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
    order: 2;
    background-image: url('/imageUpload.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.upload-image__click-drog:hover {
    background-color: #929ca6;
    cursor: pointer;
}

.image-item__btn-wrapper {
    position: absolute;
    position: absolute;
    top: 5px;
    left: 5px
}

.image-item__btn-wrapper button {
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
}

.image-item__btn-wrapper button svg {
    width: 20px;
}

.image-item {
    position: relative;
}

.image-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal-confirm {
    color: black;
}

.link-create-drink {
    text-decoration: none;
    color: white;
    background-color: #007a5c;
    padding: 5px 10px;
    border-radius: 5px;

}

.link-create-drink:hover {
    color: white;
    text-decoration: none;
    background-color: #0c3b2f;

}

.header-drinks {
    display: flex;
    justify-content: space-between
}

.action-create {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.notification-system {
    position: fixed;
    right: 0;

}

@media(width<=540px) {
    .upload-image-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .upload-image-wrapper>:nth-child(2) {
        grid-column: 1/span 2;
        grid-row: 1/span 2;
    }
}